:root {
    --background1: #14100B;
    --background2: #2F1F1A;
    --fontGold: #E2C080;
    --fontTitle: #DED9CB;
}

* {
    font-family: roboto, sans-serif;
    word-wrap: break-word;
    color: white;
    overflow-x: hidden !important;
    letter-spacing: 0.8px;
}

.titleModal {
    font-size: 1.8em;
    color: #854B3A;
}

.font-gold {
    color: var(--fontGold);
}

.font-title {
    color: var(--fontTitle);
}

.pageTitle {
    line-height: 1.1em;
}

#background1 {
    background-color: var(--background1);
    background-size: cover;
}

#background2 {
    background-color: var(--background2);
    background-size: cover;
}

.videoBlock {
    max-width: unset !important;
    background-image: url('../assets/background-yt.webp') !important;
}

.btn-inscricao {
    animation: pulse 1.5s infinite;
    color: #000000;
    font-size: 1.1em;
    border-radius: 6px 6px 6px 6px;
    padding: 20px 20px 20px 20px;
    width: 95%;
    background-color: var(--fontGold);
}

.btn-inscricao.noAnimation {
    font-weight: bold;
    width: 100%;
    padding: 10px 10px 10px 10px;
    animation: none !important;
}

.links {
    color: white;
}

.links:hover {
    color: white;
}

.column-overflow {
    overflow: hidden !important;
}

.iconButton {
    color: black;
    font-weight: bold;
    position: absolute !important;
    bottom: 35%;
    right: 1%;
}

.legendaModal {
    color: black;
}

.brownBg {
    padding: 4px;
    background-color: #854B3A;
    color: white;
    font-weight: bold;
}

.greyBg {
    letter-spacing: 4.7px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: black;
    background-color: #DED9CB;;
}

.largeText {
    font-size: 2.1em;
}

.textPreCadastrio {
    letter-spacing: 2.2px;
}
 
.bigText {
    font-size: 1.3em;
}

.normaText {
    font-size: 1.1em;
}

.smallText {
    font-size: 0.9em;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1, 1, 1);
    }
    
    50% {
        transform: scale3d(1.03, 1.03, 1.03);
    }
}

@media (max-width: 600px) {
    .modal_content {
        left: 0% !important;
        width: 100% !important;
    }
    .largeText {
        font-size: 1.05em;
    }

    .normaText {
        font-size: 0.95em;
    }
    
    .bigText {
        font-size: 0.7em;
    }

    .btn-inscricao {
        font-size: 1em;
    }
}