/*! CSS Used from: ../vendor/bootstrap/css/bootstrap.min.css */
:root{--bs-blue:#0d6efd;--bs-indigo:#6610f2;--bs-purple:#6f42c1;--bs-pink:#d63384;--bs-red:#dc3545;--bs-orange:#fd7e14;--bs-yellow:#ffc107;--bs-green:#198754;--bs-teal:#20c997;--bs-cyan:#0dcaf0;--bs-white:#fff;--bs-gray:#6c757d;--bs-gray-dark:#343a40;--bs-primary:#0d6efd;--bs-secondary:#6c757d;--bs-success:#198754;--bs-info:#0dcaf0;--bs-warning:#ffc107;--bs-danger:#dc3545;--bs-light:#f8f9fa;--bs-dark:#212529;--bs-font-sans-serif:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;--bs-gradient:linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));}
*,::after,::before{box-sizing:border-box;}
@media (prefers-reduced-motion:no-preference){
:root{scroll-behavior:smooth;}
}
body{margin:0;font-family:var(--bs-font-sans-serif);font-size:1rem;font-weight:400;line-height:1.5;color:#212529;background-color:#fff;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent;}
a{color:#0d6efd;text-decoration:underline;}
a:hover{color:#0a58ca;}
img{vertical-align:middle;}
button{border-radius:0;}
button:focus:not(:focus-visible){outline:0;}
button,input{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button{text-transform:none;}
[type=button],button{-webkit-appearance:button;}
[type=button]:not(:disabled),button:not(:disabled){cursor:pointer;}
.row{--bs-gutter-x:1.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(var(--bs-gutter-y) * -1);margin-right:calc(var(--bs-gutter-x) * -.5);margin-left:calc(var(--bs-gutter-x) * -.5);}
.row>*{flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--bs-gutter-x) * .5);padding-left:calc(var(--bs-gutter-x) * .5);margin-top:var(--bs-gutter-y);}
.col-1{flex:0 0 auto;width:8.33333333%;}
.col-2{flex:0 0 auto;width:16.66666667%;}
.col-8{flex:0 0 auto;width:66.66666667%;}
.col-10{flex:0 0 auto;width:83.33333333%;}
@media (min-width:768px){
.col-md-1{flex:0 0 auto;width:8.33333333%;}
.col-md-2{flex:0 0 auto;width:16.66666667%;}
.col-md-3{flex:0 0 auto;width:25%;}
.col-md-5{flex:0 0 auto;width:41.66666667%;}
.col-md-8{flex:0 0 auto;width:66.66666667%;}
}
@media (min-width:992px){
.col-lg-1{flex:0 0 auto;width:8.33333333%;}
.col-lg-2{flex:0 0 auto;width:16.66666667%;}
.col-lg-3{flex:0 0 auto;width:25%;}
}
.form-control{display:block;width:100%;padding:.375rem .75rem;font-size:1rem;font-weight:400;line-height:1.5;color:#212529;background-color:#fff;background-clip:padding-box;border:1px solid #ced4da;-webkit-appearance:none;-moz-appearance:none;appearance:none;border-radius:.25rem;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
.form-control{transition:none;}
}
.form-control:focus{color:#212529;background-color:#fff;border-color:#86b7fe;outline:0;box-shadow:0 0 0 .25rem rgba(13,110,253,.25);}
.form-control::placeholder{color:#6c757d;opacity:1;}
.form-control:disabled{background-color:#e9ecef;opacity:1;}
.btn{display:inline-block;font-weight:400;line-height:1.5;color:#212529;text-align:center;text-decoration:none;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
.btn{transition:none;}
}
.btn:hover{color:#212529;}
.btn:focus{outline:0;box-shadow:0 0 0 .25rem rgba(13,110,253,.25);}
.btn:disabled{pointer-events:none;opacity:.65;}
.card-img{width:100%;}
.card-img{border-top-left-radius:calc(.25rem - 1px);border-top-right-radius:calc(.25rem - 1px);}
.card-img{border-bottom-right-radius:calc(.25rem - 1px);border-bottom-left-radius:calc(.25rem - 1px);}
.modal{position:fixed;top:0;left:0;z-index:1060;display:none;width:100%;height:100%;overflow-x:hidden;overflow-y:auto;outline:0;}
.d-block{display:block!important;}
.d-flex{display:flex!important;}
.d-none{display:none!important;}
.position-relative{position:relative!important;}
.justify-content-between{justify-content:space-between!important;}
.align-items-center{align-items:center!important;}
.mt-1{margin-top:.25rem!important;}
.mt-2{margin-top:.5rem!important;}
.mt-3{margin-top:1rem!important;}
.mt-4{margin-top:1.5rem!important;}
.mt-5{margin-top:3rem!important;}
.mb-3{margin-bottom:1rem!important;}
.mb-5{margin-bottom:3rem!important;}
.text-center{text-align:center!important;}
@media (min-width:768px){
.d-md-block{display:block!important;}
.d-md-flex{display:flex!important;}
.d-md-none{display:none!important;}
}
/*! CSS Used from: ../css/style.css */
:root{--background1:#14100B;--background2:#2F1F1A;--fontGold:#E2C080;--fontTitle:#DED9CB;}
*{font-family:roboto, sans-serif;word-wrap:break-word;color:white;overflow-x:hidden!important;letter-spacing:0.8px;}
.titleModal{font-size:1.8em;color:#854B3A;}
.font-gold{color:var(--fontGold);}
.font-title{color:var(--fontTitle);}
.pageTitle{line-height:1.1em;}
#background1{background-color:var(--background1);background-size:cover;}
#background2{background-color:var(--background2);background-size:cover;}
.videoBlock{max-width:unset!important;background-image:url('../assets/background-yt.webp')!important;}
.btn-inscricao{animation:pulse 1.5s infinite;color:#000000;font-size:1.1em;border-radius:6px 6px 6px 6px;padding:20px 20px 20px 20px;width:95%;background-color:var(--fontGold);}
.btn-inscricao.noAnimation{font-weight:bold;width:100%;padding:10px 10px 10px 10px;animation:none!important;}
.links{color:white;}
.links:hover{color:white;}
.column-overflow{overflow:hidden!important;}
.iconButton{color:black;font-weight:bold;position:absolute!important;bottom:35%;right:1%;}
.legendaModal{color:black;}
.brownBg{padding:4px;background-color:#854B3A;color:white;font-weight:bold;}
.greyBg{letter-spacing:4.7px;padding-top:4px;padding-bottom:4px;color:black;background-color:#DED9CB;}
.largeText{font-size:2.1em;}
.textPreCadastrio{letter-spacing:2.2px;}
.bigText{font-size:1.3em;}
.normaText{font-size:1.1em;}
.smallText{font-size:0.9em;}
@media (max-width: 600px){
.modal_content{left:0%!important;width:100%!important;}
.largeText{font-size:1.05em;}
.normaText{font-size:0.95em;}
.bigText{font-size:0.7em;}
.btn-inscricao{font-size:1em;}
}
/*! CSS Used from: ../css/form.css */
.modal{display:none;position:fixed;z-index:1;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.623);}
.modal_content{background-color:white;position:absolute;top:5%;left:30%;width:40%;padding:20px;border-radius:5px;border:2px solid black;}
.close{font-size:20px;color:black;float:right;}
.close:hover{color:black;cursor:pointer;}
.inputFormActive{border-width:1px 1px 1px 1px!important;border-radius:4px 4px 4px 4px!important;}
/*! CSS Used from: https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css */
.fa,.far{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1;}
.fa-arrow-alt-circle-right:before{content:"\f35a";}
.fa-calendar-alt:before{content:"\f073";}
.far{font-weight:400;}
.fa,.far{font-family:"Font Awesome 5 Free";}
.fa{font-weight:900;}
/*! CSS Used keyframes */
@keyframes pulse{0%, 100%{transform:scale(1, 1, 1);}50%{transform:scale3d(1.03, 1.03, 1.03);}}
/*! CSS Used fontfaces */
@font-face{font-family:roboto;src:url('../fonts/Roboto_Serif/static/RobotoSerif-Regular.woff2');font-weight:400;font-style:normal;font-display:swap;}
@font-face{font-family:"Font Awesome 5 Free";font-style:normal;font-weight:400;font-display:block;src:url('../fonts/FA/fa-regular-400.woff2')}
@font-face{font-family:"Font Awesome 5 Free";font-style:normal;font-weight:900;font-display:block;src:url('../fonts/FA/fa-solid-900.woff2');}